<h2 id="title">Ember Data 2.0 Model State Explorer</h2>

{{outlet}}
<hr>
<p>This page sponsored by <a href="https://www.emberscreencasts.com">EmberScreencasts.com</a>.</p>
<p><a href="https://www.emberscreencasts.com/tags/ember-data">Watch videos about Ember Data</a>.</p>
